[defaults]
inventory = config/hosts.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
timeout = 30
forks = 20

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=4
